extends base

block content
  h1 Which to Manage
  ul.manage-menu
    li: a(href='/manage/tours') tours
    li: a(href='/manage/users') users
    li: a(href='/manage/reviews') reviews
    li: a(href='/manage/bookings') bookings
