extends base

block content
  main.main
    .edit-tour-form
      h2.heading-secondary.ma-bt-lg Create New User
      form.form#form--create-user
        .form__group
          label.form__label(for='name') name
          input#name.form__input(type='text', required)
        .form__group
          label.form__label(for='email') email
          input#email.form__input(type='email', required)
        .form__group
          label.form__label(for='password') password
          input#password.form__input(type='password', required)
        .form__group
          label.form__label(for='passwordConfirm') passwordConfirm
          input#passwordConfirm.form__input(type='password', required)
        .form__group
          label.form__label(for='role') role
          select#role.form__input
            option(value='user' selected) user
            option(value='guide') guide
            option(value='lead-guide') lead-guide
            option(value='admin') admin
        .form__group
          label.form__label(for='mailConfirm') mailConfirm
          select#mailConfirm.form__input
            option(value='true') true
            option(value='false') false
        .form__group
          input.form__upload(type='file', accept='image/*', id='photo', name='photo')
          label.form__label(for='photo') Choose photo
        .form__group
          button.btn.btn--green#btn--create-tour Create New User